# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# SPM
.swiftpm/
.build/
Packages/
Package.resolved

# Generated
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
